<html lang="en">
<head>
    <title>GisStorm</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
    <link rel="stylesheet" href="/public/style/index.css">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark" style="z-index: 10">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link active select-icon" aria-current="page">Файл</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link active dropdown-toggle select-icon" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">Инструменты</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown01">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link active select-icon" aria-current="page">Отображение кабелей</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active select-icon" aria-current="page">Отображение УС</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active select-icon" aria-current="page">Состояние</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" onclick="setTool(0)">
                        <img src="/public/images/icon/hand.png" class="img-thumbnail rounded-circle select-icon" alt="Указатель">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" onclick="setTool(1)">
                        <img src="/public/images/icon/draw-cable.png" class="img-thumbnail rounded-circle select-icon" alt="Кабель">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" onclick="setTool(2)">
                        <img src="/public/images/icon/Coupling.png" class="img-thumbnail rounded-circle select-icon" alt="Муфта">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" onclick="setTool(0)">
                        <img src="/public/images/icon/Box_PON.png" class="img-thumbnail rounded-circle select-icon" alt="Шкаф PON">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" onclick="setTool(0)">
                        <img src="/public/images/icon/optic_cross.png" class="img-thumbnail rounded-circle select-icon" alt="Оптический кросс">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" onclick="setTool(0)">
                        <img src="/public/images/icon/cablez.png" class="img-thumbnail rounded-circle select-icon" alt="Кабельный запас">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" onclick="setTool(0)">
                        <img src="/public/images/icon/trouble.png" class="img-thumbnail rounded-circle select-icon" alt="Авария">
                    </a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<div class="map" id="map"></div>

<a id="properties1" data-bs-toggle="modal" data-bs-target="#modal1"></a>

<!--  ПАРАМЕТРЫ МУФТЫ -->
<div class="modal fade" id="modal1" tabindex="-1" aria-labelledby="modal1Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal1Label">Параметры оптической муфты:</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body modalFixHeight">
                <form>
                    <div class="mb-3">
                        <label for="coupling_nomination" class="col-form-label">Наименование муфты:</label>
                        <input id="coupling_nomination" type="text" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="coupling_type" class="col-form-label">Тип муфты:</label>
                        <select id="coupling_type" class="form-select" aria-label="Тип муфты" required>
                            <option value="0">Прямая ОМ</option>
                            <option value="1" selected>Разветвительная ОМ</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="coupling_sl_txt" class="col-form-label">Дополнительная информация:</label>
                        <textarea id="coupling_sl_txt" class="form-control"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="coupling_folder" class="col-form-label">Ссылка на схемы:</label>
                        <input id="coupling_folder" type="text" class="form-control">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="osx_couple_close_btn" class="btn btn-secondary"
                        data-bs-dismiss="modal">Закрыть</button>
                <button type="button" onclick="updateDataCoupling();" class="btn btn-primary">Сохранить</button>
            </div>
        </div>
    </div>
</div>

{#<img src="/public/images/icon/Coupling.png" id="cursor" class="cursor"/>#}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
<script src="/public/scripts/index.js"></script>
<script src="/public/scripts/map.js"></script>
</body>
</html>